.root {
  height: 50px;
  .input {
    height: 100%;
    margin-right: 8px;
    font-size: 20px;
    text-align: center;
    width: 300px;
    border-radius: 8px;
    border: 1px solid black;
    outline: 0;
    background-color: white;
    padding: 0;
  }
  .btn {
    height: 100%;
    min-width: 100px;
    margin-right: 8px;
    padding: 0;
    &:hover {
      cursor: pointer;
    }
  }
}
